* {
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(images/pink%20dust.png);
}

div.jumbotron.jumbotron-fluid {
    background-image: url("https://i.ytimg.com/vi/fK5Ov6Krf_A/maxresdefault.jpg");
    height: 500px;
    background-position: center;
    background-size: 100%
}

.section {
    background: #222;

    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.main-content {
    padding: 25px 20px;
    border: 3px solid white;
    background: #3b3b3b;
    color: white;
    text-align: left;
    font-size: 13px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}

.section .header {
    padding: 10px 10px;
}

.section .win-result {
    background: url("https://wallpapersite.com/images/wallpapers/glitter-2560x1440-blue-gradient-hd-5k-9961.jpg") 90%;
}

.section .about-team {
    background: url("https://svirtus.cdnvideo.ru/y5bgn9i_8SXjRKsDwuW1HzkPeAQ=/0x0:1167x307/fit-in/1111x294/https://s3.eu-central-1.amazonaws.com/esforce-media/db/db6363c1e01a178b92b702b8c7b0d7b0.jpg?m=852a1ffb5f741c0d48a772011e78b93b");
}

.score-logo-left {
    float: left;
    width: 60%;
}

.score-logo-right {
    float: right;
    width: 60%;
}

.section .score {
    font-size: 10vw;
    font-weight: bold;
    color: #f8fde1;
    text-align: center;
}


/*---------------------------------------------------------------------------------*/

/*------------------------------------Footer---------------------------------------*/

/*---------------------------------------------------------------------------------*/

.footer-distributed {
    background-color: #222;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 15px;
}





.title {
    
    margin-bottom: 15px;
    padding: 10px 5px;
    background-color: #222;
    color: white;
    text-align: center;
}

